body {
  background-color: rgb(230,230,230);
  color: black;
  font-family: Courier;
}
h1{
  color:green;
  font-family: Helvetica;
  font-weight: 100;
  font-size: 50px;
}

a {
  color: purple;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: purple;
  text-decoration: none;
}
